
.jumbotron
	.row
		.col-md-6
			= image_tag "imagen_index.png", class: "img-responsive"
		.col-md-6
			%h2 Aprender algo nuevo nunca será tan sencillo, encuentra lo que necesitas aquí.
			%button{class: "btn btn-primary btn-lg"} Cursos


